<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% if category_list %}
{%for blog in category_list%}
<p><a href="/blog/blog/{{blog.id}}">{{blog.header}}</a></p>
{%endfor%}
{% else %}
    <h3>No blog avaiable in this category</h3>
{% endif %}


<div class="pagination">
    <span class="step-links">
        {% if category_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ category_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ category_list.number }} of {{ category_list.paginator.num_pages }}.
        </span>

        {% if category_list.has_next %}
            <a href="?page={{ category_list.next_page_number }}">next</a>
            <a href="?page={{ category_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>